In [ ]:
1) Write an SQL query to show only odd rows from aÂ table.

cursor.execute(" select * from Employees where id in (select id from Employees where id%2=1)")

2) Write an SQL query to clone a new table from another table.
cursor.execute(" select * into Newtable_name from oldtable_name where 1=0") Onlythe column names will be inserted but not the row



cursor.execute("select * into new_table from old_table")